@CHARSET "UTF-8";

.rating{
	margin-top: -7px;
}
.tile{
		margin: 10px !important;
		width: 11rem !important;
		height: 11rem !important;
		background-color: white !important;
}
#tileContainer{
	margin: auto;
}
.nameField{
	margin-top: 10px;
	font-size: 18px !important;
}
.nameFieldVBox{
	margin-left: 15px;
	font-size: 16px !important;
}
.titleNameBox >.sapMFlexItem:nth-of-type(1){
	width: 90px; 
}
.sapUiRespGridSpanL3, .sapMCustomTile, .sapMCustomTileContent, .tile {
	width: 350px !important;
	height: 140px !important;
}
.gridLayout{
	margin-left: 150px;
}
#container
{
	margin: auto;
	position:relative !important;
	}
	
	#detailsIDd--vBox-__panel0-0{
	margin-left:35%
	}
	
	.sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont>.sapUiFormResGridLbl:not(.sapUiRespGridSpanL12){
		height: 29px !important;
		margin-left:134px
	}
